[Unit]
Description=Laboite - Interactive Story Box
After=network.target sound.target

[Service]
Type=simple
WorkingDirectory=/usr/local/raspilunii
Environment="PYTHONUNBUFFERED=1"
ExecStart=python3 main.py
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
